img.Chawla {
  float: right;
}

img.Hashim {
  float: right;
}

img.Nerva {
  float: right;
}

img.map {
  float: right;
}

.Article {
  border: 2px solid black;
  background-color: green;
}

.Fun-Fact {
  border: 2px solid black;
  background-color: green;
}

.news {
  border: 2px solid black;
  background-color: lightskyblue
}

.History-Facts {
  border: 2px solid black;
  background-color: lightblue;
}

.Featured-list {
  border: 2px solid black;
  background-color: pink;
}

.Featured-picture {
  border: 2px solid black;
  background-color: purple;
}