img.Chawla {
  float: right;
}

img.Hashim {
  float: right;
}

img.Nerva {
  float: right;
}

img.map {
  float: right;
}

.Article {
  border: 1px solid black;
  background-color: green;
}

.Fun-Fact {
  border: 1px solid black;
  background-color: green;
}

.card-body1 {
  background-color: lightgreen;
}

.news {
  border: 1px solid black;
  background-color: lightskyblue
}

.History-Facts {
  border: 1px solid black;
  background-color: lightskyblue;
}

.card-body2 {
  background-color: lightblue;
}

.Featured-list {
  border: 1px solid black;
  background-color: pink;
}

.card-body3 {
  background-color: lightpink;
}

.Featured-picture {
  border: 1px solid black;
  background-color: lavenderblush;
}

.card-body4 {
  background-color: lavender;
}

.Areas {
  border: 1px solid black;
  background-color: lightgray;
}

.other-sites {
  border: 1px solid black;
  background-color: lightgray;
}